service cloud.firestore {
  match /databases/{database}/documents {
    function getLog(logID) {
      return get(/databases/$(database)/documents/logs/$(logID));
    }
    function isUsersLog(logID) {
      return getLog(logID).data.user_id == request.auth.uid;
    }
    match /logs/{log} {
      allow read;
      allow create: if request.auth.uid != null;
      allow update, delete: if request.auth.uid == resource.data.user_id;
    }
    match /doneCommits/{commit} {
      allow read;
      allow create: if isUsersLog(request.resource.data.log_id);
      allow update, delete: if isUsersLog(resource.data.log_id);
    }
    match /users/{user} {
      allow read;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid == request.resource.id;
      allow delete: if request.auth.uid == resource.id;
    }
  }
}
